html body {
    height: auto;
}

html {
    background-image: url("images/everyPictureBG.png");

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

body {
    min-height: 100vh;
    max-width: 800px;
    margin: auto;
}

body #home_button {
    position: fixed;
    z-index: 4;
    top: 10px;
    left: 10px;

    background-color: rgb(222, 184, 135);
    padding: 0.1em;
    border-color: burlywood;
    border-style: groove;
    border-width: 0.2em;
    text-decoration: none;

    display: inline-block;
    height: auto;
    max-width: 100%;
}

header, footer {
    text-align: center;
    padding: 25px;
    margin: auto;
    position: relative;
}

header h1 {
    text-align: center;
    color: rgb(47, 37, 0);
    font-family: "Rubik 80s Fade", system-ui;;
    font-weight: 100;
    font-size: 2em;
}

h2, h3 {
    color: rgb(255, 166, 0);
    font-family: "Rubik 80s Fade", system-ui;


}

ul, li {
    color: rgb(255, 217, 147);
    font-family: "Ubuntu", sans-serif;
}


.slideShow {
    margin: auto;
    padding: 0.5em;
    box-sizing: border-box;
    width: 100%;
    
    position: relative;
}

.slides {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    justify-items:center;
    padding: 25px;
    display: flex;
    height: auto;
    max-width: max-content;

    mask-image: linear-gradient(
        to right,
        transparent 0%,
        black 15%,
        black 85%,
        transparent 100%
    );

    -webkit-mask-image: linear-gradient(
        to right, 
        transparent 0%, 
        black 15%, 
        black 85%, 
        transparent 100%
    );

    position: relative;
    z-index: 2;
}

.slide {
    flex: 0 0 80%;
    box-sizing: border-box;
    scroll-snap-align: center;
    transition: transform 0.4s ease;
}

.slides img {
    display: block;
    width: 100%;
    height: auto;
    border: 0.2em solid transparent;
    margin: auto;
    transition: opacity 0.5s ease, border 0.5s ease, transform 0.5s ease;
}

.slide:hover img {
    border: 0.5em solid rgb(255, 145, 0.9);
    opacity: 0.8;
    transform: scale(1.02);
    cursor: pointer;
}

.dropDown {
    display: none;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5);
    
    padding: 1em;
    margin: auto;
    border-radius: 0.5em;
}

.dropDown.open {
    display: block;
}

.dropDown h2{
    text-align: center;
}

.mainArticles {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
}

.subArticles {
    flex: 1;
}

.subArticles h3 {
    text-align: center;
}

figure p {
    text-align: center;
}

@media (max-width: 600px) {
    .slide {
        flex: 0 0 90%;
    }

    .slides {
        padding: 5px;


    }

    .mainArticles {
        flex-direction: column;
        gap: 0.5em;
    }

    body {
        padding: 0 5px;
    }
}